<!-- Card Template -->

<script id="card-tmp" type="text/template">

  <div class="card" id="{{card_id}}">

    <div class="row" style="width:100%; margin: auto;">

      <div class="col">

        <a href="{{card_link}}" id="card-link" target="_blank" style="display:block">
          <div class="row">

            <div class="card-icon col-5 col-md-2">
              <div class="rounded" style="background: url('{{card_icon}}') 100% 100% no-repeat; background-position: center; background-size: contain; height:100%;" ></div>
            </div>

            <div class="card-bdy col">

              <!-- Name & Username -->
                <h5 class="card-title">{{card_name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{card_username}}</h6>

            </div>

          </div>
        </a>


      </div>




      <div class="card-toolbar col-3 col-md-1">

        <div class="card-aligner">
          <div class="">

            <button class="dropdown-toggle btn btn-sm btn-outline-secondary" name="button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-share-square"></i></button>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <button class="dropdown-item" style="color: gray;" onclick="CopyLink('{{card_id}}')">

                <div class="row">
                  <div class="col-2">
                    <i class="fas fa-copy"></i>
                  </div>
                  <div class="col">
                    Copy
                  </div>
                </div>

              </button>
            </div>

          </div>
        </div>


      </div>

    </div>


  </div>

</script>
