// compileCompressed: main.min.css

#empty-data-holder
  display: none
  text-align: center

.card
  display: block
  width: 70%
  margin: 0 auto 30px
  padding: 1.5rem 2rem

.card-aligner
  display: table
  height: 100%
  margin: auto

  > div
    display: table-cell
    vertical-align: middle

    .btn-help
        width: 35px
        font-size: 1rem

a:hover, a
  text-decoration: none
  color: inherit

.group-btn
  width: 70%

.powered-by
  position: fixed
  bottom: 20px
  right: 20px


@media (max-width: 767.98px)


  .group-btn
    width: 95%

  .card
    width: 95%
    padding: 1rem .25rem

  .card-bdy
    padding: 0

    h5
      font-size: 1rem

    h6
      font-size: .75rem

  .card-toolbar
    position: relative
    z-index: 10

    .dropdown-toggle
      font-size: .6rem


  .powered-by
    display: block
    position: inherit
    background-color: white
    border-radius: 10px
    padding: 10px
    text-align: center
